.prestation--card {
    height: 7.46rem;
    background-color: #f7eddb;
    border-radius: 0.8rem;
    box-shadow: 0 0.133333rem 1.33333rem 0 rgba(0,0,0,0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
    padding: 0px 1.33333rem;

}